* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 241, 224);

}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

section {
    max-width: 600px;
    margin: 0 auto;
}

section.input {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
}

ul {
    background-color: white;
    list-style: none;
    padding: .5rem;
    border-radius: .5rem;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 229, 191);
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: .5rem;
}

span.done {
    text-decoration: line-through;
}

span {
    font-size: 1.3rem;
}

span.edit {
    display: none;
}

i {
    padding-left: 1rem;
}

input {
    width: 50%;
    padding: .3rem;
    border-radius: .5rem;
}

section.input i {
    font-size: 1.5rem;
}

section.container input {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
}

section.container input.edit {
    display: inline;
}