* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 241, 224);

}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

section {
    max-width: 600px;
    margin: 0 auto;
}



ul {
    background-color: white;
    list-style: none;
    padding: .5rem;
    border-radius: .5rem;
}

li {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 229, 191);
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
}

span.done {
    text-decoration: line-through;
}

span {
    font-size: 1.3rem;
}